<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy; 
            <script>
                document.write(new Date().getFullYear())
            </script>
            GymJitsu
        </span>
    </div>
</footer>